.main-header {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.editor-container {
  padding-bottom: 75px;
}

@media (max-width: 576px) {
  .d-flex.flex-wrap button {
    margin-bottom: 10px;
  }
}
