{% extends "layout.jinja" %} {% block main %}

<!-- Existing Flashcard Deck Data -->
{% for i in range(len(flashcards)) %}
<span id="flashcardDefinition{{ i }}" hidden>{{
  flashcards[i].get_definition()
}}</span>
<span id="flashcardAnswer{{ i }}" hidden
  >{{ flashcards[i].get_answer() }}
</span>
<span id="flashcardCount" hidden>{{ len(flashcards) }}</span>
{% endfor %}

<!-- Modal -->
{% if is_new_deck_created %}
<div
  class="modal fade"
  id="codeModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Your Flashcard Deck Code
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <b>Generated Code:</b> {{ generated_code }}<br /><br />
        Make sure to take note of this code, you'll need it to access or edit
        your flashcard deck! Additionally, you can choose to share this code
        with other people if you want them try out your deck or create their own
        modified version of your deck.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Access code modal -->
<div
  class="modal fade"
  id="accessCodeModal"
  tabindex="-1"
  aria-labelledby="modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Access Code</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="accessCodeForm" method="get">
          <div class="mb-3">
            <label for="accessCodeInput" class="form-label"
              >7-Character Flashcard Code</label
            >
            <input
              type="text"
              name="code"
              class="form-control"
              id="accessCodeInput"
              placeholder="Enter your access code"
              maxlength="7"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid 7-character code to access your flashcard.
            </div>
          </div>
          <div class="d-flex justify-content-end btn-group" role="group">
            <button type="submit" class="btn btn-primary" id="submitBtn">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Flashcard Container -->
<div class="container mt-5 editor-container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="text-center mb-4">
        <h1 class="display-4 fw-bold">Create/Edit Flashcard Deck</h1>
      </div>

      <!-- Flashcard Deck Form -->
      <form id="flashcardForm" action="/flashcard-editor" method="post">
        <!-- Deck Title -->
        <div class="mb-4">
          <label for="deckTitle" class="form-label fs-5">Deck Title</label>
          <input
            type="text"
            class="form-control"
            id="deckTitle"
            placeholder="Enter the title of the flashcard deck"
            name="topic"
            value="{{ deck_title }}"
            required
          />
        </div>

        <!-- Flashcard List -->
        <div id="flashcardContainer">
          <div class="flashcard mb-3">
            <h5 class="mb-3">Flashcard 1</h5>
            <div class="mb-3">
              <label for="definition1" class="form-label">Definition</label>
              <textarea
                name="definition1"
                class="form-control"
                id="definition1"
                rows="2"
                placeholder="Enter the flashcard definition"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="answer1" class="form-label">Answer</label>
              <input
                name="answer1"
                type="text"
                class="form-control"
                id="answer1"
                placeholder="Enter the flashcard answer"
              />
            </div>
            <hr />
          </div>
        </div>

        <!-- Add Flashcard and Bottom Buttons in a Single Row -->
        <div class="d-flex justify-content-between align-items-center">
          <!-- Add Flashcard Button -->
          <button
            type="button"
            class="btn btn-outline-success"
            id="addFlashcardBtn"
          >
            Add Flashcard
          </button>

          <!-- Bottom Buttons (Load, Save, Go Back) -->
          <div class="d-flex">
            <button
              type="button"
              class="btn btn-secondary me-2"
              id="loadDeckBtn"
              data-bs-toggle="modal"
              data-bs-target="#accessCodeModal"
            >
              Load Flashcard Deck
            </button>
            <!-- Button type to be changed to "submit" via JavaScript when data is valid -->
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btn btn-primary me-2"
              id="saveDeckBtn"
            >
              Save Flashcard Deck
            </button>
            <button type="button" class="btn btn-danger" id="goBackBtn">
              Go Back
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Invalid access code modal -->
{% if is_invalid_code %}
<div
  class="modal fade"
  id="invalidAccessCodeModal"
  tabindex="-1"
  aria-labelledby="invalidAccessCodeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Access code "{{ flashcard_code }}" does not exist!
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        "{{ flashcard_code }}" is not recognized! Make sure you typed in the
        correct code!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %} {% block scripts %}
<script src="/static/js/flashcard_editor.js"></script>
<script src="/static/js/invalid_access_code_modal.js"></script>
{% endblock %}
