{% extends "layout.html" %} {% block main %}

<!-- Flashcard Data -->
{% for i in range(len(flashcards)) %}
<span id="flashcardDefinition{{ i }}" hidden
  >{{ flashcards[i].get_definition() }}</span
>
<span id="flashcardAnswer{{ i }}" hidden
  >{{ flashcards[i].get_answer() }}
</span>
{% endfor %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Flashcards -->
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="text-center mb-4">
        <h1 class="main-header display-4 fw-bold">Flashcards App</h1>
      </div>
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-uppercase fw-bold">
          Topic: {{ flashcard_topic }}
        </div>
        <div class="card-body">
          <p class="card-text fs-5" id="flashcardText">
            {{ flashcards[0].get_definition() }}
          </p>
          <div class="d-flex justify-content-center my-4">
            <button
              type="button"
              class="btn btn-outline-primary btn-lg mx-2"
              id="flashcardNextBtn"
              aria-label="Previous"
            >
              &#60;-
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg mx-2"
              id="flashcardRevealBtn"
            >
              Reveal Answer
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-lg mx-2"
              id="flashcardPreviousBtn"
              aria-label="Next"
            >
              -&#62;
            </button>
          </div>
        </div>
      </div>

      <!-- Edit, Create, and Load buttons -->
      <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-secondary" id="editFlashcardsBtn">
          Edit Flashcards Deck
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="createFlashcardsBtn"
        >
          Create your own Flashcards
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="loadFlashcardsBtn"
          data-bs-toggle="modal"
          data-bs-target="#accessCodeModal"
        >
          Load Flashcards Deck
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Access Code Modal -->
<div
  class="modal fade"
  id="accessCodeModal"
  tabindex="-1"
  aria-labelledby="accessCodeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accessCodeLabel">Enter Access Code</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="accessCodeForm" method="get">
          <div class="mb-3">
            <label for="accessCodeInput" class="form-label"
              >7-Character Flashcard Code</label
            >
            <input
              type="text"
              name="code"
              class="form-control"
              id="accessCodeInput"
              placeholder="Enter your access code"
              maxlength="7"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid 7-character code to access your flashcard.
            </div>
          </div>
          <div class="d-flex justify-content-end btn-group" role="group">
            <button type="submit" class="btn btn-primary" id="submitBtn">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="/static/js/flashcard_displayer.js"></script>
{% endblock %}
