{% extends "layout.jinja" %} {% block main %}

<!-- Flashcard Data -->
{% for i in range(len(flashcards)) %}
<span id="flashcardDefinition{{ i }}" hidden>{{
  flashcards[i].get_definition()
}}</span>
<span id="flashcardAnswer{{ i }}" hidden
  >{{ flashcards[i].get_answer() }}
</span>
<span id="flashcardsCode" hidden>{{ flashcard_code }}</span>
{% endfor %}

<!-- Flashcard container -->
<div class="content container mt-5">
  <div class="row justify-content-center">
    <!-- Flashcards -->
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="text-center mb-4">
        <h1 class="main-header display-4 fw-bold">Flashcards App</h1>
      </div>
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-uppercase fw-bold">
          Topic: {{ flashcard_topic }}
        </div>
        <div class="card-body">
          <p class="card-text fs-5" id="flashcardText">
            {{ flashcards[0].get_definition() }}
          </p>
          <div class="d-flex justify-content-center my-4">
            <button
              type="button"
              class="btn btn-outline-primary btn-lg mx-2"
              id="flashcardNextBtn"
              aria-label="Previous"
            >
              &#60;-
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg mx-2"
              id="flashcardRevealBtn"
            >
              Reveal Answer
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-lg mx-2"
              id="flashcardPreviousBtn"
              aria-label="Next"
            >
              -&#62;
            </button>
          </div>
        </div>
      </div>

      <!-- Responsive Edit, Create, and Load buttons -->
      <div class="d-flex flex-wrap justify-content-between mt-4 gap-2">
        <button
          type="button"
          class="btn btn-secondary flex-fill"
          id="editFlashcardsBtn"
        >
          Edit Flashcards Deck
        </button>
        <button
          type="button"
          class="btn btn-secondary flex-fill"
          id="createFlashcardsBtn"
        >
          Create your own Flashcards
        </button>
        <button
          type="button"
          class="btn btn-secondary flex-fill"
          id="loadFlashcardsBtn"
          data-bs-toggle="modal"
          data-bs-target="#accessCodeModal"
        >
          Load Flashcards Deck
        </button>
      </div>

      <!-- Credits -->
      <div class="text-center mt-3">
        <div
          class="card border-secondary text-dark text-center"
          style="background-color: #f8f9fa; cursor: default"
        >
          <div class="card-body py-2">
            Check out my GitHub:
            <a
              href="https://github.com/DragunWF"
              target="_blank"
              class="text-decoration-none fw-bold credits"
            >
              DragunWF
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Access Code Modal -->
<div
  class="modal fade"
  id="accessCodeModal"
  tabindex="-1"
  aria-labelledby="accessCodeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Access Code</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="accessCodeForm" method="get">
          <div class="mb-3">
            <label for="accessCodeInput" class="form-label"
              >7-Character Flashcard Code</label
            >
            <input
              type="text"
              name="code"
              class="form-control"
              id="accessCodeInput"
              placeholder="Enter your access code"
              maxlength="7"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid 7-character code to access your flashcard.
            </div>
          </div>
          <div class="d-flex justify-content-end btn-group" role="group">
            <!-- Button type changed to "submit" in JS after validating input -->
            <button type="button" class="btn btn-primary" id="submitBtn">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Invalid access code modal -->
{% if is_invalid_code %}
<div
  class="modal fade"
  id="invalidAccessCodeModal"
  tabindex="-1"
  aria-labelledby="invalidAccessCodeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Access code "{{ flashcard_code }}" does not exist!
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        "{{ flashcard_code }}" is not recognized! Make sure you typed in the
        correct code!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %} {% block scripts %}
<script src="/static/js/flashcard_displayer.js"></script>
<script src="/static/js/invalid_access_code_modal.js"></script>
{% endblock %}
